<section id="welcome">
  <div class="container">
    <div>
			<h1>Foster Better Habits</h1>
      <p>Easily add new habits, track your progress and reach your goals. </p>
		</div>
  </div>
</section>

<section id="about" class="container">
  <div class="row">
    <div class="col s4">
      <h2>Track</h2>
      <p>Visualize your data in two different ways, download weekly practice charts, observe your practice over time and update your goals.</p>
    </div>
    <div class="col s4">
      <h2>Improve</h2>
      <p>Utilize data-driven insights to increase motivation, heighten self-awareness and improve your daily practice one day at a time. </p>

    </div>
    <div class="col s4">
      <h2>Explore</h2>
      <p>Your habits should improve your life. Challenge yourself to learn new things and reach new levels in personal development.</p>
    </div>

  </div>
</section>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Habit Hero</h5>
          <p class="grey-text text-lighten-4">Foster better habits. Improve your life.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Learn more</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">The science of habits</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Why data drives improvement</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">The team behind Habit Hero</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Habit Hero © 2017 Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Created by Nick, Ray and Stephanie</a>
      </div>
    </div>
  </footer>